* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.header {
    width: 100%;
    min-height: 90px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.logo {
    flex-grow: 1;
    padding-left: 40px;
}

.tabs {

    flex-grow: 2;
    min-height: 60px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tabs a {
    text-decoration: none;
    color: #201f1f;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}



.home {
    display: flex;
    width: 100%;
    margin: 2em 0;
    min-height: 630px;
    border-radius: 10px;

}

.content {
    width: 50%;
    margin: 1em;
    padding: 7% 40px;
}

.content h1 {
    font-size: 3em;
    padding: 8px 0;
    font-weight: 700;
}

.content p {
    margin-top: 10px;
    line-height: 25px;
    color: #0000006c;
}

.home-img {
    width: 50%;
    overflow-y: visible;
}


.content span {
    padding-top: 20px;
    color: #ECAD15;
    font-weight: 700;

}


.home-button {
    margin-top: 40px;
}

.home-btn-one {
    border: none;
    outline: none;
    background-color: #EBC30A;
    padding: 15px;
    color: white;
    width: 25%;

}



.header-btn-two {
    border: none;
    outline: none;
    background-color: #252525;
    padding: 15px;
    color: white;
    width: 25%;


}



@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .header {
        flex-direction: column;
        gap: 1em;
        padding: 2em;
    }

    .tabs {
        width: 90%;
        padding: 10px;
    }

    .tab-btns {
        padding-top: 90px;
    }
}



@media only screen and (max-width: 850px) {
    .content {
        margin: 0.5rem;
        padding: 7% 10px;
    }

    .home {
        min-height: 800px;
        flex-wrap: wrap;
    }

    .content {
        width: 100%;
    }

    .home-img {
        width: 100%;
    }

}

@media only screen and (max-width: 650px) {
    .content {
        margin: 0.5rem;
        padding: 7% 10px;
        width: 100%;
    }

    .home {
        min-height: 800px;
        flex-wrap: wrap;
    }


    .home-img {
        width: 100%;
    }

}


@media only screen and (max-width: 400px) {

.logo{
   padding-left: 0px;
}

    .header {
        gap: 1em;
       padding: 0px;
    }


    .tabs {
        display: block;

    }

    .tab-btns {
        gap: 20em;

    }

    
    .home-img img{
        height: 300px;
        width: 250px;
     }

     
.content h1 {
    font-size: 2em;

    font-weight: 600;
}


.home {
    
    margin: 0em 0;
    min-height: 600px;

}

.content {
  
    margin: 0em;
    padding: 0% 0px;
}



.home-btn-one {
    width: 45%;
}



.header-btn-two {
    width: 45%;

}


.prev-next img{
height: 60px;
width: 60px;
margin-top: 30px;
margin-right: 50px;
}


}


.second-container {
    width: 1140px;
    height: 720px;
    margin-top: 10px;
   
}

.second-container h1 {
    width: 1110px;
    height: 85px;
    padding: 7px 353.25px 18px 453.90px;
    font-weight: 700;

}

#sec-img-one {
    margin-left: 50%;
    margin-top: 20px;
}

#sec-img-two {
    margin-left: 20%;
    margin-top: 40px;
}

.second-container p {
    margin-left: 30%;
}

.sec-con-btn {
    margin-top: 35px;
    margin-left: 45%;
    border: none;
    outline: none;
    background-color: #252525;
    padding: 15px;
    color: white;
    width: 15%;

}



@media only screen and (max-width: 400px) {

    .second-container {
        width: 300px;
        height: 720px;
        margin-top: 80px;
       
    }
    
    .second-container h1 {
        padding-left: 10px;
        font-weight: 600;
    
    }
    
    #sec-img-one {
        margin-left: 120px;
        margin-top: 10px;
    }
    
    #sec-img-two {
        margin-left: 0%;
        margin-top: 10px;
        height: 260px;
        width: 260px;
    }
    
    .second-container p {
        margin-left: 0%;
       
    }
    
    .sec-con-btn {
        margin-top: 35px;
        margin-left: 18%;
        width: 55%;
    
    }

}



.third-container {

    width: 1140px;
    height: 166px;
    gap: 0px;
    opacity: 0px;
    margin-top: 40px;

}

.third-container img {
    margin-left: 51%;
    margin-top: 30px;
}

.third-container h1 {
    margin-left: 42%;
    font-weight: 700;
}

.third-container p {
    margin-left: 42%;
    font-size: 12px;
    line-height: 2;
}


@media only screen and (max-width: 400px) {


    .third-container {

        width: 300px;
        margin-top: 0px;
    
    }
    
    .third-container img {
        margin-left: 120px;
        margin-top: 30px;
    }
    
    .third-container h1 {
        margin-left: 1%;
        font-weight: 700;
    }
    
    .third-container p {
        margin-left: 1%;
        font-size: 16px;
    }
    

}




.fourth-con {
    width: 1110px;
   min-height: 1110px;
    padding: 90px 0px 200px 0px;
    margin-left: 6%;

}

.cards-one {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;


}

.cards-two {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    margin-top: 20px;

}

#inner-card {
    width: 198px;
    height: 400px;
    gap: 0px;
    border: 2px dashed #666666;
    opacity: 0px;

}

#inner-card img {
    margin-left: 35px;
    margin-top: 20px;
    width: 120px;
    height: 120px;
}

#inner-card h2 {
    margin-left: 50px;
    line-height: 2;
}

#inner-card button {
    margin-top: 15px;
    margin-left: 22%;
    border: none;
    outline: none;
    background-color: #252525;
    padding: 15px;
    color: white;
    width: 55%;
}

.home-btn-two {
    margin-top:90px;
    margin-left: 45%;
    border: none;
    outline: none;
    background-color: #252525;
    padding: 15px;
    color: white;
    width: 15%;

}


@media only screen and (max-width: 400px) {

    
.fourth-con {
    padding:0px;
    margin-left: 0%;

}

.cards-one {

    flex-direction: column;
    height: 2200px;
    width: 25%;
margin-top: 60px;
align-items: center;

}

.cards-two {
flex-direction: column;
height: 2100px;
width: 25%;
align-items: center;
}

#inner-card{
margin-bottom: 40px;
padding-bottom: 40px;

}


.home-btn-two {
    margin-left:5%;
  margin-top: 130px;
} 
}





.fifth-container {
    width: 1140px;
    height: 720px;
    margin-top: 30px;
    gap: 0px;
    opacity: 0px;
    background-color: #f9f5f9f0;
    margin-left: 5%;


}



#fifth-img-one {
    margin-left: 50%;
    margin-top: 40px;
}



#fifth-img-two {
    margin-left: 10%;
    margin-top: 40px;
}



.fifth-container h1 {
    width: 1110px;
    height: 85px;
    top: 57px;
    left: 15px;
    padding: 7px 353.25px 18px 453.90px;
    gap: 0px;
    opacity: 0px;
    font-weight: 700;

}
.fifth-container p {
    margin-left: 30%;
}

.testmonial{
    width: 1150px;
height: 672px;

margin-top: 30px;
margin-left: 55px;
}


.testmonial #tomato-one{
height: 75px;
width: 70px;

}

.testmonial #carrot-six{
    margin-left: 40%;
}

.testmonial #test{
    margin-left: 40%;
    font-weight: 700;
}

.client{
   
    height: 260px;
    width: 420px;
    margin-left: 30%;
    display: flex;
    align-items: flex-end;
}

.client img{
    height: 120px;
    width: 120px;

}

.child-div{
    margin-left: 35px;
}

.child-div p{
    color: #ECAD15;
}

.child-div h1{
    font-weight: 600;
}


.review {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  

}


.review #prev{
    margin-right: 230px;
    height: 60px;
    width: 60px;
}


.review #next{
    margin-left: 230px;
    height: 60px;
    width: 60px;
}

.review p{
    font-size: 13px;
    padding-top: 25px;
}

#tomato-two{
    height: 75px;
width: 70px;
margin-left: 1070px;

}

.contact-main{
    width: 1249px;
height: 600px;
background-color: #f9f5f9f0;

}

.content-last{
    height: 550px;
    width: 800px;
   margin-left: 230px;
}

#last-carrot{
    margin-left: 50%;
}

#contact-us{
    margin-left: 43%;
    font-weight: 700;
}

.input input{
    width: 280px;
   margin: 10px;
   padding: 5px;
   outline: none;
   border: 1px solid rgba(0, 0, 0, 0.095);
   background-color: #f9f5f9f0;
}

.input textarea{
    margin: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.095);
    background-color: #f9f5f9f0;
}


.input-map{
    display: flex;
   justify-content: space-around;
   margin-top: 40px;
}

.input button{

    background-color: #ECAD15;
    height:40px;
    width: 150px;
    margin-left: 70px;
    border-radius: 30px;
    color: white;
    border: none;
   
}


.main-footer{
    height: 350px;
    width: 100%;
    background-color: #252525;
    padding: 60px;
}

.child-main{
    height: 250px;
    width: 90%;
 display: flex;
    justify-content: space-evenly;
}


.address h2{
    color: white;
    padding-bottom: 20px;

}


.address a{
    text-decoration: none;
    color: white;
  
    }


    
.links h2{
    color: white;
    padding-bottom: 20px;

}


.links a{
    text-decoration: none;
    color: white;
  
    }

    
.newsletter h2{
    color: white;
    padding-bottom: 20px;

}


@media only screen and (max-width: 400px) {

}